body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.playBox {
    position: fixed;
    left: 655px;
    top: 37%;
}

.pauseBox {
    position: fixed;
    left: 648px;
    top: 37%;
}

.box {
    position: relative;
    width: 400px;
    height: 600px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    left: 418px;
    top: 140px;
}

.box .percent {
    position: relative;
    width: 210px;
    height: 325px;
}

.box .percent svg {
    position: relative;
    width: 185px;
    height: 185px;
    transform:rotate(-90deg);
}

.box .percent svg circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 510;
    stroke-dashoffset: 510;
    stroke-linecap: round;
}

.box .percent svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke:azure;
}

.box .percent svg circle:nth-child(2) {
    /* stroke-dashoffset: calc(510 - (510 *0) / 100); */
    stroke-dashoffset: 510;
    stroke: cyan;
}

.timer {
    position: fixed;
    color: aliceblue;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    left: 650px;
    top: 65%;
}

.replay {
    position: relative;
    left: 185px;
    top: 90px;
}

.btn1 {
    position: relative;
    bottom: 200px;
    right: 400px;
    width: 200px;
    height: 65px;
    font-size: 20px;
    font-family: cursive;
    color: white;
    background-color:  transparent;
    cursor:pointer;
    overflow: hidden;
    border: white solid 2px;
    outline:none;
    transition-duration: 0.4s;
}

.btn1:hover{
    background-color: white;
    color: black;
}

.btn2 {
    position: relative;
    bottom: 0px;
    right: 600px;
    width: 200px;
    height: 65px;
    font-size: 20px;
    font-family: cursive;
    color: white;
    background-color:  transparent;
    cursor:pointer;
    overflow: hidden;
    border: white solid 2px;
    outline:none;
    transition-duration: 0.4s;
}

.btn2:hover{
    background-color: white;
    color: black;
}


.btn3 {
    position: relative;
    top: 200px;
    right: 800px;
    width: 200px;
    height: 65px;
    font-size: 20px;
    font-family: cursive;
    color: white;
    background-color:  transparent;
    cursor:pointer;
    overflow: hidden;
    border: white solid 2px;
    outline:none;
    transition-duration: 0.4s;
}

.btn3:hover{
    background-color: white;
    color: black;
}

.rain {
    position: relative;
    bottom: 150px;
}

.beach {
    position: relative;
    top: 100px;
    right: 100px;
}